/* src/styles/fonts.css */
/* Minecraft Font Family */
@font-face {
  font-family: 'Minecraftia';
  src: url('../assets/fonts/Minecraftia-regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Minecraft';
  src: url('../assets/fonts/MinecraftRegular-Bmg3.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Minecraft';
  src: url('../assets/fonts/MinecraftBold-nMK1.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Minecraft';
  src: url('../assets/fonts/MinecraftItalic-R8Mo.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Minecraft';
  src: url('../assets/fonts/MinecraftBoldItalic-1y1e.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

/* Minecrafter Alt Font */
@font-face {
  font-family: 'Minecrafter';
  src: url('../assets/fonts/Minecrafter-MA3Dw.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}